<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>This is my blog and my thoughts.  If you don't like them you can kiss my ass!</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/timdisab"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/tim-disabatino-28b48a41"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://twitter.com/PathwaysDigital"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>
