<h1>About Me</h1>
<hr />

<div class="row">
  <div class="col-md-4">
    <%= image_tag "tim_disabatino.jpg", width: 300, alt: "my image" %>
  </div>
  <div class="col-md-8">
    <p>Tim DiSabatino has over 10 years of experience and have managed online marketing campaigns across a wide spectrum of industries including technology (B2B & B2C), software as a service (SaaS), legal, real estate, education, and e-commerce.</p>

    <p>Prior to co-founding Pathways Digital, Tim spent many years working in the digital marketing industry--for a digital marketing agency in Silicon Valley, a web design company and an ecommerce company.</p>

    <p>His primary focus and specialization is in paid search (SEM) and social media but he has worked professionally in search engine optimization (SEO), web analytics, email marketing and project management.</p>

    <p>Companies that he has lead managed campaigns for either for Pathways Digital or as part of other agencies include Hewlett Packard, Shopify, Squarespace, Lucid Imagination, Altiscale, Cyren, Bluewolf, FileRight and many others.</p>

    <p>Tim is a Google AdWords Qualified Professional, Google Analytics Qualified Individual, and a Bing Ads Accredited Professional.</p>
  </div>
</div>
