<h1>Contact Tim</h1>

<hr>

<div class="row">
  <div class="col-med-6">
  <h3>Office Address</h3>
   <address>
    484 Washington St, #510<br>
    Monterey, CA 93940<br>
    USA
   </address>
   <h3>Phone</h3>
   <p><%= number_to_phone "8319201617" %></p>

    <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3203.169033444343!2d-121.89543278478311!3d36.5982377799907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808de424875e2403%3A0x21582637230df2af!2s484+Washington+St+%23510%2C+Monterey%2C+CA+93940!5e0!3m2!1sen!2sus!4v1503441798784" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>